@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --font-titulo: "PT Serif", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(209, 137, 4);
    padding: 10px;
    box-shadow: 0px 1px 2px black;
}
 
header nav {
    display: flex;
    justify-content: space-evenly;
}

header li  {
    list-style: none;    
}

header nav li a i {
    font-size: 25px;
    color: rgb(245, 229, 229);
    background-color: rgb(28, 27, 27);
    padding-top: 3px;
    border-radius: 3px;
}

header nav li a i:hover {
    background-color: rgb(99, 93, 93);
    transition: 0.3s;
}

body {
    background-color:#ffc436;
}

.hero {
    max-height: 50vh;
    margin-bottom: 70px;
}


.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 50px;
    
}

.hero-image img {
    width: 200px;
    height: auto;
}

.hero-text h1 {
    font-family: var(--font-titulo);
    font-size: 1.6em;
    margin-left: 10px;
    margin-bottom: 5px;

    
}

.hero-text h2 {
    font-family:var(--font-titulo);
    font-size: 0.8em;
    margin-left: 10px;
}

.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 10px;
    
    
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding: 12px;

    width: 80%;

    background-color: #ffc436;
    border-radius: 8px;

    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
}





 .cards-section{
    margin-top: 2px;
    background-color: #ffc436;
    height: 200px;
    border-radius: px;
    
    
}

.cards-section h2 {
    margin-bottom: 10px;
    font-family: var(--font-titulo);
    font-size: 0.8em;
    margin-left: 15px;
}

footer {
    background-color: rgb(60, 60, 60);
    color: white;
    padding: 25px;       /* altura real do footer */
    text-align: center;

    position: fixed;     /* fixa na tela */
    bottom: 0;           /* encosta na parte de baixo */
    left: 0;
    width: 100%;         /* ocupa toda a largura */
}

footer p {
    font-size: 0.5em;
}

.zap {
    position: fixed;   /* gruda na tela */
    bottom: px;      /* distância do rodapé */
    right: 20px;       /* distância da lateral direita */
    z-index: 1000;     /* fica acima do footer e outros elementos */
}

.zap a {
    display: inline-block;
    background-color: #25D366;
    border-radius: 50%;
    
    transition: all 0.3s ease;
}

.zap a:hover {
    background-color: #128C7E;
    transform: scale(1.1);
}











main.pag2 {
    width: 100vw;
    margin-top: 30px;
}

section.produtos {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 30px;
}

mark {
    background-color: white;
    border-radius: 5px;
    
}

section div.produto {
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 10px #333333;
}

section div.produto img {
    width: 150px;
    height: 150px;
    
}

.produto ul {
    list-style: none;
    padding-left: 0;
    margin: 0px;
    text-align: center;
}

.produto ul li {
    margin-top: 3px;
    font-family: var(--font-descricao);
    margin-left: 4px;
    font-size: 0.8em;
}


