@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor-destaque: #FFA500; /* Laranja */
    --cor-fundo: #FFFFFF; /* Branco */
    --cor-texto: #333333; /* Cinza escuro */
    --cor-divisao: #CCCCCC; /* Cinza claro */
    --fonte-titulo: "Bebas Neue", sans-serif;
    --font-texto: 'Times New Roman', Times, serif;
    --font-descricao: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--cor-destaque);
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 2px rgb(97, 88, 88);
}

header.pai nav ul {
    display: flex;              
    justify-content: space-evenly; 
    list-style: none;           
    padding: 0;                 
    margin: 0;                  
    gap: 25px;
}

header nav ul li a {
    text-decoration: none;
    background-color: var(--cor-texto);
    padding: 6px;
    border-radius: 5px;
    display: flex;
}

header nav ul li a i {
    font-size: 18px;
    color: var(--cor-destaque);
}

header a:hover {
    background-color: var(--cor-divisao);
    transition: 0.3s;
}

body {
    background-color: #ffc436;
}

main.index {
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    gap: 10px;
    margin-top: 10px;
    min-height: 100vh;
}

.apresentacao {
    grid-column: 2;
    border-radius: 10px;
    padding-top: 15px;
    text-align: justify;
}


div.texto h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--fonte-titulo);
    font-size: 1.8em;
    
}

div.texto {
    background-color: var(--cor-destaque);
    border-radius: 10px;
    padding: 5px 5px;
}

.apresentacao img {
    width: 100%;
    height: auto;
}

main.pag2 {
    width: 100vw;
    margin-top: 30px;
}

section.produtos {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 30px;
}

mark {
    background-color: white;
    border-radius: 5px;
    
}

section div.produto {
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 10px #333333;
}

section div.produto img {
    width: 150px;
    height: 150px;
    
}

.produto ul {
    list-style: none;
    padding-left: 0;
    margin: 0px;
    text-align: center;
}

.produto ul li {
    margin-top: 3px;
    font-family: var(--font-descricao);
    margin-left: 4px;
    font-size: 0.8em;
}

footer {
    background-color: var(--cor-texto);
    position: fixed;
    bottom: 0;
    padding: 8px;
    width: 100vw;
}
