@charset "UTF-8";




:root {
    --font-titulos:"Changa One", sans-serif;
    --font-normal: "open sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #f9a825,
        #fff59d
    );
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: var(--font-titulos);
    text-align: center;
    font-size: 25px;
    padding: 15px;
    color: black;
}

h2 {
    font-family: var(--font-titulos);
    font-size: 15px;
    padding: 10px;

}

header {
    padding-bottom: 10px;
    box-shadow: 0 4px 8px rgba(2, 2, 2, 0.8);
}

header > nav {
  display: flex;
  justify-content: space-between;
}


header > nav > a {
    font-family: var(--font-titulos);
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin: 10px;
    background-color: black;
    padding: 10px 10px;
    border-radius: 10px;
    color: white;   
}

header > nav > a:hover {
    background-color: #c9bfbf;
    color: rgb(118, 118, 118);
}


main p {
    font-family: var(--font-normal);
    font-size: 14px;
    padding: 15px;
    text-align: left;
}

footer {
    margin-top: auto;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
footer p {
    font-family: var(--font-normal);
    font-size: 12px;
}

/* CSS pagina ração para cães */

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.produto {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto img {
    width: 120px;
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.produto p {
    width: 100%;
    text-align: center;
    
}

.topo-produtos h2 {
   font-size: 20px;
}

.topo-produtos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.topo-produtos a {
    background-color: black;
    color: white;
    text-decoration: none;
    font-family: var(--font-titulos);
    font-size: 15px;
    padding: 3px 10px;
    border-radius: 10px;
}

.topo-produtos a:hover {
    background-color: #c9bfbf;
}













    


