@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

:root {
    --cor-destaque: #FFA500; /* Laranja */
    --cor-fundo: #FFFFFF; /* Branco */
    --cor-texto: #333333; /* Cinza escuro */
    --cor-divisao: #CCCCCC; /* Cinza claro */
    --fonte-titulo: "Changa One", sans-serif;
    --font-texto: 'Times New Roman', Times, serif;
    --font-descricao: "poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-destaque);
    align-items: end;
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 2px rgb(97, 88, 88);
    
}

header h1 {
    font-family: var(--fonte-titulo);
    font-size: 1.2rem; 
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

header nav ul li a {
    text-decoration: none;
    background-color: var(--cor-texto);
    padding: 4px;
    border-radius: 5px;
    display: flex;
    align-items: center;   
}

header nav ul li a i {
    font-size: 18px;
    color:var(--cor-destaque);
    
}

header a:hover {
    background-color: var(--cor-divisao);
    transition: 0.3s;
}

body {
    background-color:#ffc436
}

main {
  display: grid;
  grid-template-columns: 1fr 90vw 1fr;
  gap: 10px;
  margin-top: 10px;
  min-height: 100vh;
  
}

.apresentacao {
    grid-column: 2;
    text-align: center;
    background-color: ;
    border-radius: 10px;
    padding-top: 15px;
    text-align: left;
    text-align: justify;
    
}

.apresentacao h2 {
    text-align: center;
    padding-bottom: 5px;
    font-family: var(--fonte-titulo);
    font-size: 1em;
    padding-bottom: 20px;
}

.apresentacao p {
    color: rgb(36, 32, 32);
    padding-bottom: 20px;
}

.apresentacao img {
    width: 100%;
    height: auto;
}

























footer {
    background-color: var(--cor-texto);
    position: fixed;
    bottom: 0;
    padding: 8px;
    width: 100vw;
}


